.HistorySection {
    width: 100%;
    min-height: 170vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    padding-bottom: 50px;
    position: relative;

    .line {
        position: absolute;
        width: 1px;
        height: 100%;
        transform: scaleY(1);
        transition: transform 1.4s ease;
        display: inline-block;
        background-color: #e5e5e5;
        height: 93%;
        left: 50%;
        margin-left: -1px;
        transform-origin: top;
    }

    .HistoryTextsMainDiv {
        width: 90%;
        min-height: 55vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #historyImg2_1 {
            display: none;
        }

        img {
            width: 550px;
            height: 400px;
        }

        .HistoryTextsDiv {
            width: 50%;
            min-height: 55vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #HistoryTextH4 {
                font-size: 67px;
                font-weight: 300;
                color: #241c10;
                font-family: Cormorant, serif;
                margin: 0;
                padding: 0;
                padding-left: 60px;
                padding-right: 60px;
            }

            #HistoryTextDiv {
                display: flex;
                flex-direction: column;
                gap: 10px;

                #HistoryTextH5 {
                    margin: 0;
                    color: #988d8a;
                    font-size: 18px;
                }

                #HistoryTextH3 {
                    margin: 0;
                    font-family: Cormorant serif;
                    font-size: 30px;
                }

                #HistoryTextP {
                    margin: 0;
                    font-size: 16px;
                    line-height: 1.4rem;
                    opacity: .7;
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .HistorySection {
        min-height: 110vh;

        .line {
            display: none;
        }

        .HistoryTextsMainDiv {
            min-height: 35vh;


            img {
                width: 400px;
                height: 250px;
            }

            .HistoryTextsDiv {
                width: 60%;
                min-height: 35vh;
                display: flex;
                align-items: center;
                justify-content: space-between;

                #HistoryTextH4 {
                    font-size: 67px;
                    font-weight: 300;
                    color: #241c10;
                    font-family: Cormorant, serif;
                    margin: 0;
                    padding: 0;
                    padding-left: 60px;
                    padding-right: 60px;
                }

                #HistoryTextDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    #HistoryTextH5 {
                        margin: 0;
                        color: #988d8a;
                        font-size: 18px;
                    }

                    #HistoryTextH3 {
                        margin: 0;
                        font-family: Cormorant serif;
                        font-size: 30px;
                    }

                    #HistoryTextP {
                        margin: 0;
                        font-size: 16px;
                        line-height: 1.4rem;
                        opacity: .7;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    .HistorySection {
        min-height: 110vh;

        .HistoryTextsMainDiv {
            min-height: 35vh;
            flex-direction: column;

            #historyImg2_1 {
                display: block;
            }

            #historyImg2_2 {
                display: none;
            }

            img {
                width: 400px;
                height: 250px;
            }

            .HistoryTextsDiv {
                width: 100%;
                min-height: 35vh;
                display: flex;
                align-items: center;
                justify-content: space-between;

                #HistoryTextH4 {
                    font-size: 40px;
                    padding-left: 20px;
                    padding-right: 20px;
                }

                #HistoryTextDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    #HistoryTextH5 {
                        font-size: 18px;
                    }

                    #HistoryTextH3 {
                        font-size: 30px;
                    }

                    #HistoryTextP {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .HistorySection {
        min-height: 110vh;
        gap: 10px;

        .HistoryTextsMainDiv {
            min-height: 35vh;
            flex-direction: column;

            img {
                width: 300px;
                height: 200px;
            }

            .HistoryTextsDiv {
                width: 100%;
                min-height: 30vh;
                justify-content: center;
                flex-direction: column;

                #HistoryTextH4 {
                    font-size: 25px;
                }

                #HistoryTextDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    text-align: center;

                    #HistoryTextH5 {
                        font-size: 16px;
                    }

                    #HistoryTextH3 {
                        font-size: 25px;
                    }

                    #HistoryTextP {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 380px) {
    .HistorySection {
        min-height: 110vh;
        gap: 10px;

        .HistoryTextsMainDiv {
            min-height: 35vh;
            flex-direction: column;

            img {
                width: 200px;
                height: 130px;
            }

            .HistoryTextsDiv {
                width: 100%;
                min-height: 30vh;
                justify-content: center;
                flex-direction: column;

                #HistoryTextH4 {
                    font-size: 20px;
                }

                #HistoryTextDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    text-align: center;

                    #HistoryTextH5 {
                        font-size: 16px;
                    }

                    #HistoryTextH3 {
                        font-size: 20px;
                    }

                    #HistoryTextP {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 240px) {
    .HistorySection {
        min-height: 110vh;
        gap: 10px;

        .HistoryTextsMainDiv {
            min-height: 35vh;
            flex-direction: column;

            img {
                width: 100%;
                height: 130px;
            }

            .HistoryTextsDiv {
                width: 100%;
                min-height: 30vh;
                justify-content: center;
                flex-direction: column;

                #HistoryTextH4 {
                    font-size: 20px;
                }

                #HistoryTextDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    text-align: center;

                    #HistoryTextH5 {
                        font-size: 16px;
                    }

                    #HistoryTextH3 {
                        font-size: 20px;
                    }

                    #HistoryTextP {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}