img {
    cursor: pointer;
}

.detailPage {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .detailpageMain {
        width: 90%;
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detailImgs {
            width: 650px;
            height: 70vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                border-radius: 15px;
                width: 450px;
                height: 65vh;
            }

            #imgmsItem {
                width: 150px;
                height: 70vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 150px;
                    height: 15vh;
                }
            }
        }

        .detailsItemTexts {
            width: 40%;
            height: 65vh;
            display: flex;
            flex-direction: column;
            text-align: start;
            justify-content: center;
            gap: 10px;

            #detailsH2 {
                font-size: 50px;
                font-family: Cormorant;
                margin: 0;
            }

            #detailsH5 {
                font-size: 20px;
                font-family: Cormorant;
                margin: 0;
            }

            #detailsP {
                font-size: 18px;
                font-family: Cormorant;
                margin: 0;
            }

            #detailsToBasket {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                gap: 5px;

                #detailscounter {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    background: none;
                    border: 1px solid gray;
                }

                #detailsbasketcount {
                    margin: 0;
                }

                #addtobasket {
                    margin-left: 20px;
                    width: 150px;
                    height: 30px;
                    background: none;
                    border: 1px solid gray;
                    border-radius: 10px;
                }
            }

            #addtowishlist {
                width: 180px;
                height: 30px;
                border: 1px solid gray;
                background: none;
                border-radius: 10px;
            }

            #detailsH3 {
                margin: 0;
                font-size: 18px;
                font-family: Cormorant;
                opacity: .7;
            }

            #detailsH4 {
                margin: 0;
                font-size: 18px;
                font-family: Cormorant;
                opacity: .7;
            }
        }
    }
}

@media only screen and (max-width:1230px) {
    .detailPage {
        .detailpageMain {
            flex-direction: column;

            .detailImgs {
                width: 800px;
                height: 80vh;

                img {
                    width: 600px;
                    height: 65vh;
                }

                #imgmsItem {
                    width: 150px;
                }
            }

            .detailsItemTexts {
                width: 100%;
                height: 50vh;

                #detailsH2 {
                    font-size: 50px;
                }

                #detailsH5 {
                    font-size: 20px;
                }

                #detailsP {
                    font-size: 18px;
                }

                #detailsToBasket {
                    #addtobasket {
                        width: 150px;
                        height: 30px;
                    }
                }

                #addtowishlist {
                    width: 180px;
                    height: 30px;
                }

                #detailsH3 {
                    font-size: 18px;
                }

                #detailsH4 {
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (max-width:850px) {
    .detailPage {
        .detailpageMain {
            .detailImgs {
                width: 100%;
                height: 60vh;

                img {
                    width: 400px;
                    height: 50vh;
                }

                #imgmsItem {
                    width: 150px;
                    height: 50vh;

                    img {
                        width: 100px;
                        height: 10vh;
                    }
                }
            }

            .detailsItemTexts {
                width: 100%;
                height: 50vh;

                #detailsH2 {
                    font-size: 50px;
                }

                #detailsH5 {
                    font-size: 20px;
                }

                #detailsP {
                    font-size: 18px;
                }

                #detailsToBasket {
                    #addtobasket {
                        width: 150px;
                        height: 30px;
                    }
                }

                #addtowishlist {
                    width: 180px;
                    height: 30px;
                }

                #detailsH3 {
                    font-size: 18px;
                }

                #detailsH4 {
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .detailPage {
        .detailpageMain {
            .detailImgs {
                width: 100%;
                height: 50vh;
                flex-direction: column;
                flex-wrap: wrap;

                img {
                    width: 250px;
                    height: 30vh;
                }

                #imgmsItem {
                    width: 350px;
                    height: 20vh;
                    flex-direction: row-reverse;
                    justify-content: space-between;

                    img {
                        width: 70px;
                        height: 8vh;
                    }
                }
            }

            .detailsItemTexts {
                width: 100%;
                height: 60vh;

                #detailsH2 {
                    font-size: 40px;
                }

                #detailsH5 {
                    font-size: 18px;
                }

                #detailsP {
                    width: 100%;
                    font-size: 16px;
                }

                #detailsToBasket {
                    #addtobasket {
                        width: 120px;
                    }
                }

                #addtowishlist {
                    width: 140px;
                }

                #detailsH3 {
                    font-size: 16px;
                }

                #detailsH4 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .detailPage {
        .detailpageMain {
            .detailImgs {
                height: 40vh;

                img {
                    width: 80%;
                    height: 20vh;
                }

                #imgmsItem {
                    width: 100%;
                    height: 20vh;
                    flex-wrap: wrap;

                    img {
                        width: 70px;
                        height: 8vh;
                    }
                }
            }

            .detailsItemTexts {
                height: 70vh;

                #detailsH2 {
                    font-size: 40px;
                }

                #detailsH5 {
                    font-size: 18px;
                }

                #detailsP {
                    width: 100%;
                    font-size: 16px;
                }

                #detailsToBasket {
                    #addtobasket {
                        width: 120px;
                    }
                }

                #addtowishlist {
                    width: 140px;
                }

                #detailsH3 {
                    font-size: 16px;
                }

                #detailsH4 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media only screen and (max-width: 230px) {
    .detailPage {
        min-height: 150vh;

        .detailpageMain {
            min-height: 50vh;

            .detailImgs {
                height: 40vh;

                img {
                    width: 100%;
                }
            }

            .detailsItemTexts {
                min-height: 80vh;
                margin-top: 20px;

                #detailsH2 {
                    font-size: 20px;
                    font-weight: 600;
                }

                #detailsToBasket {
                    flex-direction: column;

                    #detailscounter {
                        width: 100%;
                    }

                    #addtobasket {
                        width: 100%;
                    }
                }

                #addtowishlist {
                    width: 100%;
                }
            }
        }
    }
}