.MyAccountSection {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://media.istockphoto.com/vectors/blue-abstract-geometric-dynamic-shape-paper-layers-subtle-background-vector-id1284691550?k=20&m=1284691550&s=612x612&w=0&h=M_gHdREUJ4UwnL4G5jrrO1jtat9pLDiv1ErqwxuQgLE=');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .MyAccountSectionMain {
        width: 50%;
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>div {
            .MyAccountName {
                display: flex;
                gap: 20px;

                #myName {
                    font-weight: 600;
                }

            }

            a {
                h4 {
                    margin-top: 30px;
                    font-weight: 600;

                    i {
                        color: black;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .MyAccountSection {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .MyAccountSectionMain {
            width: 100%;
            min-height: 60vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            &>div {
                .MyAccountName {
                    display: flex;
                    gap: 20px;

                    #myName {
                        font-weight: 600;
                    }

                }

                a {
                    h4 {
                        margin-top: 30px;
                        font-weight: 600;

                        i {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}