* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

.nav {
    width: 100%;
    min-height: 125px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    z-index: 2;

    .topnav {
        width: 90%;
        min-height: 125px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .topnavLeft {
            display: flex;
            gap: 30px;
            display: flex;
            align-items: center;

            li {
                display: inline-block;
                position: relative;
                color: white;
                cursor: pointer;

                #topnavA {
                    font-weight: 400;
                    color: white;
                    font-size: 18px;
                    font-family: monospace sans-serif;
                }

                #topnavA:hover {
                    padding-bottom: 3px;
                    border-bottom: 2px solid white;
                    transition: .3s;
                }

                .dropdownmenu {
                    display: none;
                    width: 200px;
                    flex-direction: column;
                    position: absolute;
                    z-index: 1;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 15px;
                    background-color: white;
                    border-radius: 20px;
                    animation: rotate 1s ease 1;
                    margin-left: -15px;

                    li {
                        display: block;

                        #dropdownA {
                            color: #241C10;
                        }

                        #dropdownA:hover {
                            padding-left: 15px;
                            border-left: 1px solid gray;
                            transition: .5s;
                        }
                    }
                }
            }

            @keyframes rotate {
                0% {
                    transform: perspective(1500px) rotateX(90deg);
                    transform-origin: center;
                }

                30% {
                    transform: perspective(1500px) rotateX(0deg);
                    transform-origin: center;
                }
            }

            li:hover .dropdownmenu {
                height: auto;
                display: flex;
                gap: 15px;
            }
        }
    }

    #topnavLogo {
        margin-top: -30px;
        margin-left: 50px;
        width: 170px;
        height: 100px;
    }

    #topnavLogo2 {
        display: none;
    }

    #topmavlogo2A {
        display: none;
    }

    .topnavRight {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        #topnavIcon {
            display: none;
        }

        #navOnlineorder {
            font-size: 18px;
            color: white;
            border-bottom: 1px solid gray;
            padding-bottom: 3px;
            margin-top: 6px;
            font-family: monospace sans-serif;
        }

        #navOnlineorder:hover {
            border-bottom: 0;
            margin-bottom: 1px;
        }

        #topnavLogin {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            a {
                font-size: 18px;
                color: white;
                font-family: monospace sans-serif;
            }

            #topnavright-border {
                border-radius: 100%;
                width: 30px;
                height: 30px;
                border: 1px solid rgb(159, 157, 157);
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: white;
                    font-size: 12px;
                }
            }
        }

        #topnavLogin:hover #topnavright-border {
            border: 1px solid white;
        }

        #topnavCart {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            i {
                color: white;
                font-size: 18px;
            }

            #topnavright-border {
                border-radius: 100%;
                width: 30px;
                height: 30px;
                border: 1px solid rgb(159, 157, 157);
                display: flex;
                justify-content: center;

                #cartCount {
                    margin-top: 2px;
                    color: white;
                }
            }
        }

        #topnavCart:hover #topnavright-border {
            border: 1px solid white;
        }

        span {
            cursor: pointer;
        }
    }
}

//Scroll Navbar
.nav-bg {
    position: fixed;
    background-color: black;
    box-shadow: 2px 2px 10px rgb(197, 197, 197);
    transition: .7s;
}

@media only screen and (max-width:1334px) {

    .nav {
        .topnav {
            .topnavLeft {
                gap: 20px;

                li {
                    #topnavA {
                        font-size: 16px;
                    }
                }
            }

            .topnavRight {
                gap: 15px;

                #navOnlineorder {
                    font-size: 16px;
                }

                #topnavLogin {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }

        #topnavLogo {
            margin-left: 30px;
            width: 140px;
            height: 90px;
        }

        .topnavRight {
            gap: 20px;
        }
    }
}

@media only screen and (max-width:1120px) {
    .nav {
        min-height: 100px;
        flex-direction: column;
        gap: 20px;
        background: none;
        background-color: white;

        .topnav {
            width: 80%;

            .topnavLeft {
                display: none;
            }

            #topnavLogo {
                display: none;
            }

            #topnavlogoA {
                display: none;
            }

            #topnavLogo2 {
                display: block;
                width: 140px;
                height: 60px;
            }

            #topnavLogo2A {
                display: block;
            }

            .topnavRight {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;

                #topnavIcon {
                    display: block;
                    color: black;
                    font-size: 22px;
                }

                #navOnlineorder {
                    display: none;
                }

                #topnavLogin {
                    display: none;
                }

                #topnavCart {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    cursor: pointer;

                    i {
                        color: black;
                    }

                    #topnavright-border {
                        border-radius: 100%;
                        width: 30px;
                        height: 30px;
                        border: 1px solid rgb(159, 157, 157);
                        display: flex;
                        justify-content: center;

                        #cartCount {
                            color: black;
                        }
                    }
                }

                #topnavCart:hover #topnavright-border {
                    border: 1px solid black;
                }

                span {
                    display: none;
                }
            }
        }

        // Mobile Navbar 
        .mobilenav {
            width: 100%;
            align-items: center;
            display: flex;
            min-height: 100px;
            background-color: white;

            .mobileNavList {
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding-left: 5%;

                li {
                    display: inline-block;
                    position: relative;
                    color: black;
                    cursor: pointer;

                    #mobileTopnavA {
                        color: black;
                        font-size: 18px;
                        font-family: monospace sans-serif;
                    }

                    #mobileTopnavA:hover {
                        padding-bottom: 2px;
                        border-bottom: 1px solid black;
                    }

                    .mobileDropdownmenu {
                        display: none;
                        width: 200px;
                        flex-direction: column;
                        position: relative;
                        z-index: 1;
                        padding-top: 20px;
                        margin-top: 10px;
                        padding-left: 15px;
                        background-color: white;
                        animation: rotate 1.5s ease 1;
                        border-radius: 20px;
                        padding-bottom: 20px;
                        border: 2px solid gray;

                        li {
                            display: block;

                            #dropdownA {
                                color: black;
                            }

                            #dropdownA:hover {
                                padding-left: 15px;
                                border-left: 1px solid gray;
                            }
                        }
                    }
                }

                li:hover .mobileDropdownmenu {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width:700px) {
    .nav {
        min-height: 80px;

        .topnav {
            min-height: 100px;

            #topnavLogo2 {
                width: 100px;
                height: 50px;
            }
        }
    }
}

@media only screen and (max-width:300px) {
    .nav {
        overflow: hidden;
        min-height: 80px;

        .topnav {
            min-height: 100px;

            .topnavRight {
                #topnavCart {
                    margin-left: -50px;
                }

                #topnavIcon {
                    margin-left: -20px;
                }
            }

            #topnavLogoA {
                display: none;
            }

            #topnavLogo {
                display: none;
            }

            #topnavLogo2 {
                width: 60px;
                height: 40px;
            }
        }
    }
}