.AboutOurstorySection {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .abt_os_main {
        width: 90%;
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        img {
            width: 600px;
            height: 550px;
        }

        .abt_os_texts {
            display: flex;
            flex-direction: column;
            width: 60%;

            #abt_os_h6 {
                color: #d4a16d;
                margin: 0;
            }

            #abt_os_h3 {
                font-size: 50px;
                font-family: Cormorant;
                color: #241c10;
                font-weight: 100;
            }

            #abt_os_p {
                font-size: 14px;
                opacity: .7;
            }

            #abtOsButton {
                width: 200px;
                height: 50px;
                border: 1px solid rgb(90, 89, 89);
                border-radius: 10px;
                background: none;
                font-weight: 100;
                font-size: 16px;
                color: black;
                text-align: start;
                padding-left: 15px;
                display: flex;
                align-items: center;
                gap: 20px;

                i {
                    color: black;
                    font-size: 20px;
                }
            }

            #abtOsButton:hover {
                border: 1px solid black;
                transition: 2s;
            }

            #abtOsButton:hover i {
                transform: rotateX(180deg);
                transition: 1s;
            }
        }
    }
}

@media only screen and (max-width: 2000px) {
    .AboutOurstorySection {
        .abt_os_main {
            img {
                width: 570px;
                height: 600px;
            }

            .abt_os_texts {
                width: 45%;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .AboutOurstorySection {
        .abt_os_main {
            img {
                width: 50%;
                height: 550px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .AboutOurstorySection {

        .abt_os_main {
            margin-top: 40px;
            margin-bottom: 40px;
            flex-direction: column;
            transition: 1s;
            justify-content: center;

            img {
                width: 600px;
                height: 600px;
                transition: 1s;
            }

            .abt_os_texts {
                margin-top: 40px;
                width: 90%;
                margin-bottom: 50px;
                transition: 1s;

                #abt_os_h3 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .AboutOurstorySection {
        .abt_os_main {
            img {
                width: 400px;
                height: 400px;
            }

            .abt_os_texts {
                #abt_os_h6 {
                    font-size: 12px;
                }

                #abt_os_h3 {
                    font-size: 30px;
                }

                #abt_os_p {
                    font-size: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .AboutOurstorySection {
        .abt_os_main {
            img {
                width: 300px;
                height: 300px;
            }

            .abt_os_texts {
                width: 100%;
                align-items: center;

                #abt_os_h3 {
                    font-size: 25px;
                }

                #abtOsButton {
                    transition: 1s;
                    gap: 5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    .AboutOurstorySection {
        .abt_os_main {
            img {
                width: 200px;
                height: 200px;
            }

            .abt_os_texts {
                #abtOsButton {
                    width: 120%;
                }
            }
        }
    }
}

@media only screen and (max-width: 200px) {
    .AboutOurstorySection {
        .abt_os_main {
            img {
                width: 150px;
                height: 150px;
            }
        }
    }
}