.weareopenSection {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .waopenMain {
        width: 90%;
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        img {
            width: 600px;
            height: 500px;
        }

        .waopentexts {
            display: flex;
            flex-direction: column;
            width: 60%;

            #waopenH6 {
                color: #d4a16d;
                margin: 0;
            }

            #waopenH3 {
                font-size: 50px;
                font-family: Cormorant;
                color: #241c10;
                font-weight: 100;
            }

            .waopenWekkly {
                width: 100%;
                border-bottom: 1px solid gray;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                #waopenH4 {
                    font-size: 30px;
                    font-family: Cormorant serif;
                }

                #waopenP {
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 2000px) {
    .weareopenSection {
        .waopenMain {
            img {
                width: 570px;
                height: 500px;
            }

            .waopentexts {
                width: 45%;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .weareopenSection {
        .waopenMain {
            img {
                width: 50%;
                height: 500px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .weareopenSection {

        .waopenMain {
            margin-top: 40px;
            margin-bottom: 40px;
            flex-direction: column;
            transition: 1s;
            justify-content: center;

            img {
                width: 600px;
                height: 600px;
                transition: 1s;
            }

            .waopentexts {
                margin-top: 40px;
                width: 90%;

                #waopenH3 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .weareopenSection {
        .waopenMain {
            img {
                width: 400px;
                height: 400px;
            }

            .waopentexts {
                #waopenH6 {
                    font-size: 12px;
                }

                #waopenH3 {
                    font-size: 30px;
                }

                .waopenWekkly {
                    height: 60px;

                    #waopenH4 {
                        font-size: 20px;
                    }

                    #waopenP {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .weareopenSection {
        .waopenMain {
            img {
                width: 300px;
                height: 300px;
            }

            .waopentexts {
                width: 100%;

                #waopenH3 {
                    font-size: 25px;
                }
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    .weareopenSection {
        min-height: 70vh;

        .waopenMain {
            min-height: 60vh;

            img {
                width: 200px;
                height: 200px;
            }

            .waopentexts {
                #waopenH3 {
                    font-size: 25px;
                }

                .waopenWekkly {
                    #waopenH4 {
                        font-size: 18px;
                        width: 50%;
                    }

                    #waopenP {
                        width: 50%;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 200px) {
    .weareopenSection {
        .waopenMain {
            img {
                width: 150px;
                height: 150px;
            }
        }
    }
}