.instagramitemsSec {
    width: 100%;
    height: 90vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .instaSecDiv {
        width: 50%;
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .item1 {
            width: 50%;
            height: 50%;
            background-image: url('https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bb08m8f32c9282ywxu9mv1rh3ldfmt6psbs52uxtn&rid=200w.gif&ct=g');
            background-image: url(../../../Assets/InstagramSection/img1.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .item2 {
            width: 50%;
            height: 50%;
            overflow: hidden;
            background-image: url('https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bb08m8f32c9282ywxu9mv1rh3ldfmt6psbs52uxtn&rid=200w.gif&ct=g');
            background-image: url(../../../Assets/InstagramSection/img2.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item3 {
            width: 50%;
            height: 50%;
            overflow: hidden;
            background-image: url('https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bb08m8f32c9282ywxu9mv1rh3ldfmt6psbs52uxtn&rid=200w.gif&ct=g');
            background-image: url(../../../Assets/InstagramSection/img3.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item4 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-image: url('https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bb08m8f32c9282ywxu9mv1rh3ldfmt6psbs52uxtn&rid=200w.gif&ct=g');
            background-image: url(../../../Assets/InstagramSection/img4.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item5 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bb08m8f32c9282ywxu9mv1rh3ldfmt6psbs52uxtn&rid=200w.gif&ct=g');
            background-image: url(../../../Assets/InstagramSection/img5.jpg);
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item6 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bb08m8f32c9282ywxu9mv1rh3ldfmt6psbs52uxtn&rid=200w.gif&ct=g');
            background-image: url(../../../Assets/InstagramSection/img6.jpg);
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item7 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bb08m8f32c9282ywxu9mv1rh3ldfmt6psbs52uxtn&rid=200w.gif&ct=g');
            background-image: url(../../../Assets/InstagramSection/img7.jpg);
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item8 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bb08m8f32c9282ywxu9mv1rh3ldfmt6psbs52uxtn&rid=200w.gif&ct=g');
            background-image: url(../../../Assets/InstagramSection/img8.jpg);
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        #instaHover:hover {
            cursor: pointer;
            opacity: .8;
            transition: .8s;

            i {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .instagramitemsSec {
        width: 100%;
        min-height: 180vh;
        flex-direction: column;
        flex-wrap: wrap;
        transition: 1s;

        .instaSecDiv {
            width: 95%;
            min-height: 90vh;
            transition: 1s;

            .item1 {
                width: 50%;
                height: 50%;
            }

            .item2 {
                width: 50%;
                height: 50%;
            }

            .item3 {
                width: 50%;
                height: 50%;
            }

            .item4 {
                width: 50%;
                height: 50%;
            }

            .item5 {
                width: 50%;
                height: 50%;
            }

            .item6 {
                width: 50%;
                height: 50%;
            }

            .item7 {
                width: 50%;
                height: 50%;
            }

            .item8 {
                width: 50%;
                height: 50%;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .instagramitemsSec {
        width: 100%;
        min-height: 200vh;
        transition: 1s;

        .instaSecDiv {
            width: 95%;
            min-height: 100vh;
            flex-direction: column;
            flex-wrap: wrap;
            transition: 1s;

            .item1 {
                width: 100%;
                height: 25%;
            }

            .item2 {
                width: 100%;
                height: 25%;
            }

            .item3 {
                width: 100%;
                height: 25%;
            }

            .item4 {
                width: 100%;
                height: 25%;
            }

            .item5 {
                width: 100%;
                height: 25%;
            }

            .item6 {
                width: 100%;
                height: 25%;
            }

            .item7 {
                width: 100%;
                height: 25%;
            }

            .item8 {
                width: 100%;
                height: 25%;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .instagramitemsSec {
        width: 100%;
        min-height: 300vh;

        .instaSecDiv {
            width: 95%;
            min-height: 145vh;
            flex-direction: column;
            flex-wrap: wrap;
            transition: 1s;

            .item1 {
                width: 100%;
                height: 25%;
            }

            .item2 {
                width: 100%;
                height: 25%;
            }

            .item3 {
                width: 100%;
                height: 25%;
            }

            .item4 {
                width: 100%;
                height: 25%;
            }

            .item5 {
                width: 100%;
                height: 25%;
            }

            .item6 {
                width: 100%;
                height: 25%;
            }

            .item7 {
                width: 100%;
                height: 25%;
            }

            .item8 {
                width: 100%;
                height: 25%;
            }
        }
    }
}