.instagramitemsSec {
    width: 100%;
    height: 90vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .instaSecDiv {
        width: 50%;
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .item1 {
            width: 50%;
            height: 50%;
            background-image: url('https://scontent-lax3-2.cdninstagram.com/v/t51.29350-15/152417351_1041708986349964_5728255610751403403_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=4HcAMIpoOLoAX9AbOjw&_nc_ht=scontent-lax3-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDfjQUDl1AfeJWDO79Pkoq8A6R0-LYjwncbdLngujEs5A&oe=63FE2B38');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .item2 {
            width: 50%;
            height: 50%;
            overflow: hidden;
            background-image: url('https://scontent-lax3-2.cdninstagram.com/v/t51.29350-15/144129850_424923975428594_3451768185181696992_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=dbbUCGZPSaEAX_ww-83&_nc_ht=scontent-lax3-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfBZSfPmjfzfaia0zS6Ng1AcpKy7Pp-PQylzNJroGZi8WA&oe=63FF93CA');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item3 {
            width: 50%;
            height: 50%;
            overflow: hidden;
            background-image: url('https://scontent-lax3-2.cdninstagram.com/v/t51.29350-15/142990405_719085715445872_4477259778429141572_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=Gocpq0Ndf7sAX-JHfCR&_nc_ht=scontent-lax3-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDlurigKtAPZsRAY32fYxsfCV2FoixboGmLiQR4ArXjJg&oe=63FE3C6F');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item4 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-image: url('https://scontent-lax3-1.cdninstagram.com/v/t51.29350-15/144005685_723799375007663_4802777054260706914_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=-39JJXB8-7kAX-XScvv&_nc_oc=AQm5JVUMOVJJ2LzjGL2P3E4zcs5_WMJWLg1CP3PApe42prxEbGWWjVJSInhu5BgTJOs&_nc_ht=scontent-lax3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfCJue7-bp8SPX5H_CsytkDp2iI8BEQeyy0_88kHa_90HA&oe=63FEC95F');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item5 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('https://scontent-lax3-2.cdninstagram.com/v/t51.29350-15/144412822_446452996769553_2672717144330432944_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=So8ohku-H0kAX8AdKFo&_nc_ht=scontent-lax3-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfBfMz36RQ-nhj5fC7vbw8vKxuNY-opwWvaPSOeIxpLNzQ&oe=63FEBEB6');
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item6 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('https://scontent-lax3-1.cdninstagram.com/v/t51.29350-15/143065494_123687186220396_8878310755315280487_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=9brLyWODw8sAX8cxE90&_nc_ht=scontent-lax3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfCr6aepvNRTd5n51fbSiF7-OHC7wHcyiWhdneLEoHOQLg&oe=63FE9559');
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item7 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('https://scontent-lax3-1.cdninstagram.com/v/t51.29350-15/143350547_249036030184374_4546011765290807522_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=H-g3rBTNsjwAX-R7fW7&_nc_ht=scontent-lax3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDVC0WA82Lbi5bP8Y8BKvYIezllKJ7_ocOLt-dUGL0C-w&oe=63FF9036');
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        .item8 {
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('https://scontent-lax3-1.cdninstagram.com/v/t51.29350-15/143614953_222000166294779_3712706423221831323_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=Q1f2dsF8pLgAX-oYmoc&_nc_ht=scontent-lax3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDjUvZGncj3OudE5nICpjg-4K9CjS0oXel1rLub_XTVLQ&oe=63FF4778');
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    position: absolute;
                    color: white;
                    font-size: 30px;
                    z-index: 1;
                    display: none;
                }
            }
        }

        #instaHover:hover {
            cursor: pointer;
            opacity: .8;
            transition: .8s;

            i {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .instagramitemsSec {
        width: 100%;
        min-height: 180vh;
        flex-direction: column;
        flex-wrap: wrap;
        transition: 1s;

        .instaSecDiv {
            width: 95%;
            min-height: 90vh;
            transition: 1s;

            .item1 {
                width: 50%;
                height: 50%;
            }

            .item2 {
                width: 50%;
                height: 50%;
            }

            .item3 {
                width: 50%;
                height: 50%;
            }

            .item4 {
                width: 50%;
                height: 50%;
            }

            .item5 {
                width: 50%;
                height: 50%;
            }

            .item6 {
                width: 50%;
                height: 50%;
            }

            .item7 {
                width: 50%;
                height: 50%;
            }

            .item8 {
                width: 50%;
                height: 50%;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .instagramitemsSec {
        width: 100%;
        min-height: 200vh;
        transition: 1s;

        .instaSecDiv {
            width: 95%;
            min-height: 100vh;
            flex-direction: column;
            flex-wrap: wrap;
            transition: 1s;

            .item1 {
                width: 100%;
                height: 25%;
            }

            .item2 {
                width: 100%;
                height: 25%;
            }

            .item3 {
                width: 100%;
                height: 25%;
            }

            .item4 {
                width: 100%;
                height: 25%;
            }

            .item5 {
                width: 100%;
                height: 25%;
            }

            .item6 {
                width: 100%;
                height: 25%;
            }

            .item7 {
                width: 100%;
                height: 25%;
            }

            .item8 {
                width: 100%;
                height: 25%;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .instagramitemsSec {
        width: 100%;
        min-height: 300vh;

        .instaSecDiv {
            width: 95%;
            min-height: 145vh;
            flex-direction: column;
            flex-wrap: wrap;
            transition: 1s;

            .item1 {
                width: 100%;
                height: 25%;
            }

            .item2 {
                width: 100%;
                height: 25%;
            }

            .item3 {
                width: 100%;
                height: 25%;
            }

            .item4 {
                width: 100%;
                height: 25%;
            }

            .item5 {
                width: 100%;
                height: 25%;
            }

            .item6 {
                width: 100%;
                height: 25%;
            }

            .item7 {
                width: 100%;
                height: 25%;
            }

            .item8 {
                width: 100%;
                height: 25%;
            }
        }
    }
}