.shopItemsSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 100px;

    .shopItemsMain {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .filters {
            width: 100%;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .filtersUl {
                margin: 0;
                display: flex;
                gap: 20px;
                padding: 0;

                &>li {
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 8px;
                }

                &>li:hover {
                    background-color: lightblue;
                }
            }

            #livesearchInp {
                background: none;
                width: 250px;
                height: 30px;
                border-radius: 10px;
                padding-left: 10px;
                font-size: 14px;
                border: 1px solid gray;
                outline: none;
                margin-left: -250px;
            }

            #filterLi {
                cursor: pointer;
                position: relative;

                #filterListUl {
                    background-color: white;
                    border-radius: 20px;
                    margin-left: -100px;
                    padding: 10px 10px 10px;
                    z-index: 2;
                    width: 220px;
                    position: absolute;
                    border: 1px solid gray;
                    text-align: start;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    &>li {
                        padding-left: 10px;
                        padding-right: 10px;
                        border-radius: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }

                    &>li:hover {
                        background-color: lightblue;
                    }
                }
            }
        }

        .ShopItems {
            margin-top: 50px;
            width: 100%;
            min-height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;

            .shopItem {
                width: 350px;
                min-height: 480px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                gap: 10px;
                cursor: pointer;
                position: relative;
                text-align: center;

                #shopItemName {
                    font-size: 25px;
                    font-family: Cormorant;
                    font-weight: 600;
                }

                #shopItemCategory {
                    font-family: Cormorant;
                    opacity: .7;
                }

                #shopItemPrice {
                    font-family: Cormorant;
                }

                .shopImg {
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    background-image: url('https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bb08m8f32c9282ywxu9mv1rh3ldfmt6psbs52uxtn&rid=200w.gif&ct=g');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    .w3-container {
                        animation-duration: .2s;
                    }

                    #cardIcons {
                        width: 50px;
                        height: 40px;
                        display: none;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        position: absolute;
                        gap: 20px;
                        background-color: white;
                        margin-top: 250px;

                        i {
                            font-size: 20px;
                            color: black;
                        }
                    }

                    img {
                        position: relative;
                        width: 350px;
                        height: 350px;
                    }
                }
            }

            .shopItem:hover {
                box-shadow: 1px 1px 40px rgb(214, 214, 214);
                transition: .5s;

                .shopImg {
                    img {
                        scale: 1.1;
                        transition: 1s;
                    }

                    #cardIcons {
                        display: flex;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 998px) {
    .shopItemsSection {
        .shopItemsMain {
            .filters {
                align-items: start;
                justify-content: center;
                flex-direction: column;
                gap: 15px;

                .filtersUl {
                    flex-wrap: wrap;
                }

                #livesearchInp {
                    width: 220px;
                    margin-left: 0;
                }

                #filterLi {
                    #filterListUl {
                        margin-left: -10px;
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .shopItemsSection {
        .shopItemsMain {
            .filters {
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                .filtersUl {
                    flex-wrap: wrap;
                    justify-content: center;
                }

                #livesearchInp {
                    width: 90%;
                }

                #filters {
                    width: 90%;
                }

                #filterLi {
                    display: flex;
                    justify-content: center;

                    #filterListUl {
                        margin-left: 0;
                        margin-top: 25px;
                        width: 200px;
                    }
                }
            }

            .ShopItems {
                gap: 20px;

                .shopItem {
                    width: 250px;
                    min-height: 400px;

                    .shopImg {
                        width: 250px;
                        height: 260px;

                        #cardIcons {
                            margin-top: 200px;
                        }

                        img {
                            width: 100%;
                            height: 260px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    .shopItemsSection {
        .shopItemsMain {
            .filters {
                #filterLi {
                    width: 100%;

                    #filterListUl {
                        margin-left: 0;
                        margin-top: 25px;
                        width: 100%;
                    }
                }
            }

            .ShopItems {
                gap: 30px;

                .shopItem {
                    width: 150px;
                    min-height: 280px;

                    .shopImg {
                        width: 150px;
                        height: 150px;

                        #cardIcons {
                            margin-top: 200px;
                        }

                        img {
                            width: 100%;
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
}